<!DOCTYPE html>
<html>
    <head>
    <title><%= @park.name %></title>
    <meta charset="UTF-8"> 
    </head>

    <body>
    <% if flash.has?(:message) %>
    <%= flash[:message] %>
    <% end %>

        <h4>Park Name: <%= @park.name %> </h4>
        <br>
        <h4>Location: <%= @park.location %> </h4>
        <br>
        <h4>Type: <%= @park.type %> </h4>
        <br>
        <h4>Rides: <%= @park.rides %></h4>
        <br>
        <br><br>

        <form method="post" action="/parks/<%= @park.id %>">
            <input type="hidden" id="hidden" name="_method" value="delete">
            <button type="submit" value="submit">Delete</button>
        </form>
        <br><br>

        <p><a href="/parks/<%= @park.id%>/edit">Edit Park</p>

        <p><a href="/parks/new">Create New Park</a></p>
        
        <p><a href="/logout">Logout</a></p>
    </body>
</html>